<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>{{this.title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script async="false" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>



<body>
  {{{body}}}

  <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="app.js"></script>

  <div class="container">
    <div class="notification">
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Buzz-Worthy News!</strong> Copyright &copy; 2020 Tanisha Howell</a>
          </p>
        </div>
      </footer>
    </div>
  </div>
</body>

</html>