<div class="container">
  <div class="notification">
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>404 Not Found:</strong>
          <a href="/"><button class="button is-rounded">Back To Articles</button></a>
        </p>
      </div>
    </footer>
  </div>
</div>