<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Buzz-worthy News</h2>
        <h3>Search all of the latest headlines!</h3>

        <div class="topcoat-grid">
    <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--auto">
        <button id="submit" class="btn btn-primary float-right">Scrape Articles</button>
    </div>
    </div>

    <div class="topcoat-grid__row">
    <div class="topcoat-grid__column--2 topcoat-grid__offset--6">
        <button id="submit" class="btn btn-primary float-right">Clear Articles</button>
    </div>
    </div>

</div>

        <h3>Articles:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>