<div id="root">
    <div class="ui grid centered" style="margin-top: 20px;">
        <div class="ui column" style="max-width: 450px;">
            <div class="ui segment very padded">
                <h2 class="ui header centered">Let's Buzz You In</h2>
                <div class="ui large form">
                    <div class="ui field fluid ">
                        <div class="ui input left icon"><input placeholder="Email address" name="email" value=""><i
                                class="ui icon user"></i></div>
                    </div>
                    <div class="ui field fluid ">
                        <div class="ui input left icon"><input placeholder="Password" type="password" name="password"
                                value=""><i class="ui icon lock"></i></div>
                    </div><button class="ui button fluid primary large">Sign in</button>
                </div>
            </div>
        </div>
    </div>
</div>